### Packages we will be using

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Validate `requests`

In [2]:
response = requests.get("https://www.google.com")
response.status_code

200

### Validate `BeautifulSoup`

In [3]:
soup = BeautifulSoup(response.content, "html.parser")
soup.title

### Validate `The Easy way`

In [4]:
html = """
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
"""

dataframes = pd.read_html(html, match="Firstname")
dataframes

[  Firstname Lastname  Age
 0      Jill    Smith   50
 1       Eve  Jackson   94]